.bordure{
	border 					: 1px solid red;
}

.custom-textarea{
	resize 					: none;
}

.red{
	background-color 		: red;
}

.blue{
	background-color 		: blue;
}

.input-custom{
	color 					: rgba(52, 152, 219,1.0);
}

.color-blue{
	background-color: 		: rgb(51, 51, 51);
}