<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>TD Web Application</display-name>
  <servlet>
    <servlet-name>InitChallenge</servlet-name>
    <servlet-class>org.ikya.servlet.InitChallengeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitChallenge</servlet-name>
    <url-pattern>/InitChallenge</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TreatChallenge</servlet-name>
    <servlet-class>org.ikya.servlet.TreatChallengeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TreatChallenge</servlet-name>
    <url-pattern>/TreatChallenge</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContactResearch</servlet-name>
    <servlet-class>org.ikya.servlet.ContactResearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactResearch</servlet-name>
    <url-pattern>/ContactResearch</url-pattern>
  </servlet-mapping>
</web-app>